:root{
	--laranjaMedio: #FF6600;
	--laranjaEscuro: #FF1C00;
}
/* ----- HEADERS E BACKGROUNDS ----- */
header {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 4vh 2vh 0vh 2vh;
    background-size: cover;
    background-position: bottom center;
    background-color: #0A0F1B;
}
.index{
	background-image: url("../images/bg-index.png");
    height: 750px !important; 
}
.quem-somos{
	background-image: url("../images/bg-quemsomos.png");
}
.clientes{
	background-image: url("../images/bg-clientes.png");
}
.contato{
	background-image: url("../images/bg-contato.png");
}
.servicos{
	background-image: url("../images/bg-servicos-projetos.png");
}
.projetos{
	background-image: url("../images/bg-servicos-projetos.png");
}
/* ----- HEADERS E BACKGROUNDS ----- */

/* ------------- MENU -------------- */
nav {
    color: #000 !important;
    background-color: transparent !important;
    width: initial !important;
    height: initial !important;
    line-height: initial !important;
    box-shadow: none !important;
}
.menu{
	background-color: #ffffff;
}
.menu-content{
	height: 150px;
}
.menu img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    position: initial !important;
}
.menu svg{
	font-size: 1.5rem !important;
}
.menu svg:hover {
    color: #ff6600;
}
.menu-esq{
	height: 100%;
}
.menu-dir{
	height: 100%;
}
.menu-center{
	height: 75px;
	width: 100%;
}
.border-bottom{
	border-bottom: 1px rgb(31,31,31) solid;
}
.border-right{
	border-right: 1px rgb(31,31,31) solid;
}
.border-left{
	border-left: 1px rgb(31,31,31) solid;
}
nav ul a{
	color: #000 !important;
	padding: 0 10px !important;
}
nav ul a:hover{
	color: var(--laranjaMedio) !important;
	background-color: #fff !important;
}

.btn-orcamento{
	font-size: 1.5rem !important; 
}
.brand-img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

@media(min-width: 993px){
	.brand-img {
		display: none !important;
	}
}
/* ------------- MENU -------------- */

/* -------- FOOTER -------  */
footer{
	background-color: #0A0B11;
	font-size: 12px;
}
.footer-content{
	padding: 50px !important;
	margin-bottom: 0px !important;
}
.footer-column{
	height: 300px;
}
footer img {    
	margin-top: 2rem;
	width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: center;
}
.under-footer{
	background-color: #000000;
	height: 5rem;
	font-size: 12px;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px; 
}
.white-link{
	color: #fff;
}
.white-link:hover{
	color: var(--laranjaMedio) !important;
}
.back{
	height: 2rem;
	width: 2rem;
	background-color: var(--laranjaMedio);
	font-size: 1.5rem;
	color: #000;
}
@media(max-width: 992px){
	.under-footer{
		height: 10rem;
	}
}
@media(max-width: 600px){
	.under-footer{
		height: 10rem;
		padding: 0;
	}
	.footer-column{
		height: 100%;
	}
}
/* -------- FOOTER -------  */

/* -------- FORM-EMAIL -------  */
.div-email{
	height: 100%;
	color: #000;
}
.laranja{
	background-color: var(--laranjaEscuro) !important;
	color: #fff !important;
}
.branco{
	background-color: #ffffff !important;
}
.cinza{
	background-color: #F2F2F2 !important;
}
.form-email{
	width: 350px;
	height: 400px;
	background-color: #000000; 
}
.form-email-img{
	height: 400px;
	object-fit: cover;
	object-position: right;
}
/* -------- FORM-EMAIL -------  */

/* ----- GERAL ------*/
.main-color-bg{
	background-color: var(--laranjaMedio) !important;
}
.main-color-text{
	color: var(--laranjaMedio) !important;
}
.main-color-text:hover a{
	color: #fff !important;
}
.vertical-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.mb-0{
	margin-bottom: 0 !important;
}
/* ----- GERAL ------*/

/* ----- TIPOGRAFIA -------*/
.btn{
	text-transform: none !important;
}
.coolvetica {
	font-family: Coolvetica !important;
}
.comfortaa{
	font-family: Comfortaa Regular !important;
}
.vegur{
	font-family: Vegur Regular !important;
}
@font-face {
    font-family: 'Coolvetica';
    src: url(../fonts/coolveticarg-regular.ttf);
}
@font-face {
    font-family: 'Comfortaa Regular';
    src: url(../fonts/Comfortaa/Comfortaa_regular.ttf);
}
@font-face {
    font-family: 'Vegur Regular';
    src: url(../fonts/vegur/Vegur-Regular.otf);
}

/* ----- TIPOGRAFIA -------*/