:root{
	--laranjaMedio: #FF6600;
	--laranjaEscuro: #FF1C00;
}
/* ----- HEADERS E BACKGROUNDS ----- */
header {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 4vh 2vh 0vh 2vh;
    background-size: cover;
    background-position: bottom center;
    background-color: #0A0F1B;
}
.index{
	background-image: url("../images/bg-index.png");
    height: 750px !important; 
}
.quem-somos{
	background-image: url("../images/bg-quemsomos.png");
}
.clientes{
	background-image: url("../images/bg-clientes.png");
}
.contato{
	background-image: url("../images/bg-contato.png");
}
.servicos{
	background-image: url("../images/bg-servicos-projetos.png");
}
.projetos{
	background-image: url("../images/bg-servicos-projetos.png");
}
.vl-title{
  border: 1px solid var(--laranjaMedio);
  margin-left: 100%;
  margin-right: 0%;
  height: 6rem;
}
.vl-subtitle{
  border: 2px solid #f2f2f2;
  margin-left: 10%;
  margin-right: 10%;
  height: 2rem;
  border-radius: 50px;
}
.row-title{
	margin-top: 3rem; 
}
.row-title h1{
	color: #fff;
	font-size: 3rem;
}
.page-title{
	text-align: left;
}
.row-subtitle{
	width: 150px;
	height: 4rem;
	background-color: #fff;
}
.row-subtitle-qs{
	width: 200px;
	height: 4rem;
	background-color: #fff;
}
.row-subtitle a{
	font-weight: 700; 
}
.row-subtitle-qs a{
	font-weight: 700; 
}

/* ----- HEADERS E BACKGROUNDS ----- */

/* ------------- MENU -------------- */
nav {
    color: #000 !important;
    background-color: transparent !important;
    width: initial !important;
    height: initial !important;
    line-height: initial !important;
    box-shadow: none !important;
}
.menu{
	background-color: #ffffff;
}
.menu-content{
	height: 150px;
}
.menu img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    position: initial !important;
}
.menu svg{
	font-size: 1.5rem !important;
}
.menu svg:hover {
    color: #ff6600;
}
.menu-esq{
	height: 100%;
}
.menu-dir{
	height: 100%;
}
.menu-center{
	height: 75px;
	width: 100%;
}
.border-bottom{
	border-bottom: 1px rgb(31,31,31) solid;
}
.border-right{
	border-right: 1px rgb(31,31,31) solid;
}
.border-left{
	border-left: 1px rgb(31,31,31) solid;
}
nav ul a{
	color: #000 !important;
	padding: 0 10px !important;
}
nav ul a:hover{
	color: var(--laranjaMedio) !important;
	background-color: #fff !important;
}

.btn-orcamento{
	font-size: 1.5rem !important; 
}
.brand-img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

@media(min-width: 993px){
	.brand-img {
		display: none !important;
	}
}
/* ------------- MENU -------------- */

/* ------------- QUEM SOMOS -------------- */

.quem-somos-content{
	margin-top: 6rem;
	padding-left: 2rem;
	padding-right: 2rem;
}
.quem-somos-img{
	height: 750px;
	margin-top: 30%;
}
.transversal{
	margin-left: 50%;
	height: 150px;
}
.missao{
	background-color: var(--laranjaEscuro);
	color: #fff;
	margin-top: -150px;
	margin-right: 20%;
	height: 100%;
	padding: 2rem;
	padding-right: 10rem;
}
.quadrado{
    color: var(--laranjaMedio);
    font-size: 1rem;
}
.estrutura{
    height: 300px;
    padding-top: 10%; 
    margin-left: 70%;
    margin-bottom: -26%;
    vertical-align: bottom;
}
@media(max-width: 1024px){
	.quem-somos-img{
		height: 450px;
		margin-top: 0;
	}
	.transversal{
		margin-left: 50%;
		height: 100px;
	}
	.missao{
		margin-top: -100px;
	}
	.estrutura{
	    height: 200px;
	    padding-top: 10%; 
	    margin-left: 105%;
	    margin-bottom: -66%;
	}
}
@media(max-width: 992px){
	.transversal{
		margin-left: 60%;
		height: 120px;
	}
	.missao{
		margin-top: -120px;
	}
	.estrutura{
	    height: 250px;
	    padding-top: 10%; 
	    margin-left: 97%;
	    margin-bottom: -14%;
	}
}
@media(max-width: 768px){
	.estrutura{
	    height: 250px;
	    padding-top: 10%; 
	    margin-left: 97%;
	    margin-bottom: -22%;
	}
}
@media(max-width: 650px){
	.transversal{
		margin-left: 50%;
		height: 100px;
	}
	.missao{
		margin-top: -100px;
	}
	.estrutura{
	    height: 220px;
	    padding-top: 10%; 
	    margin-left: 105%;
	    margin-bottom: -35%;
	}
}
@media(max-width: 425px){
	.estrutura{
		height: 160px;
		padding-top: 10%;
		margin-bottom: -460%;
		margin-left: 260%;
	}
}
@media(max-width: 450px){
	.quem-somos-img{
		height: 350px;
	}
	.transversal{
		margin-left: 50%;
		height: 100px;
	}
	.missao{
		margin-top: -100px;
	}
}
@media(max-width: 350px){
	.quem-somos-img{
		height: 250px;
	}
	.transversal{
		margin-left: 40%;
		height: 75px;
	}
	.missao{
		margin-top: -75px;
	}
}

.conheca-mais{
	margin-top: 6rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.conheca-mais-img{
	height: 500px;
	object-fit: cover;
}
@media(max-width: 420px){
	.conheca-mais-img{
		height: 250px;
	}
}
/* -------- QUEM SOMOS -------  */

/*-------- timeline-tempo ----------*/
.tempo{
	background-color: #F2f2f2;
	height: 1200px;
	padding: 50px;
	background-image: url("../images/timeline.png");
	background-size:  22px 1000px;
	background-repeat: no-repeat;
	background-position: center;
}
.tempo h3{
	font-size: 2rem;
}
.tempo h5{
	font-size: 16px;
	color:#666666;
}
/* -------- timeline-tempo -------  */

/* -------- FOOTER -------  */
footer{
	background-color: #0A0B11;
	font-size: 12px;
}
.footer-content{
	padding: 50px !important;
	margin-bottom: 0px !important;
}
.footer-column{
	height: 300px;
}
footer img {    
	margin-top: 2rem;
	width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: center;
}
.under-footer{
	background-color: #000000;
	height: 5rem;
	font-size: 12px;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px; 
}
.white-link{
	color: #fff;
}
.white-link:hover{
	color: var(--laranjaMedio) !important;
}
.back{
	height: 2rem;
	width: 2rem;
	background-color: var(--laranjaMedio);
	font-size: 1.5rem;
	color: #000;
}
@media(max-width: 992px){
	.under-footer{
		height: 10rem;
	}
}
@media(max-width: 600px){
	.under-footer{
		height: 10rem;
		padding: 0;
	}
	.footer-column{
		height: 100%;
	}
}
/* -------- FOOTER -------  */

/* -------- FORM-EMAIL -------  */
.div-email{
	height: 100%;
	color: #000;
}
.laranja{
	background-color: var(--laranjaEscuro) !important;
	color: #fff !important;
}
.branco{
	background-color: #ffffff !important;
}
.cinza{
	background-color: #F2F2F2 !important;
}
.form-email{
	width: 350px;
	height: 320px;
	background-color: #000000;
	padding: 1rem;
	color: #f2f2f2;
}
.border-form{
	border: 1px solid #F2F2F2 !important;
	height: 4rem;
}
.icon-form{
	border-top: 1px solid #F2F2F2 !important;
	border-bottom: 1px solid #F2F2F2 !important;
	border-right: 1px solid #F2F2F2 !important;
	height: 4rem;
	width: 3rem;
}
.form-email input, .form-email textarea{
	border: 0px !important;
}

.form-email input:focus, .form-email textarea:focus{
	border-bottom: 0px solid #000000 !important;
    -webkit-box-shadow: 0 0px 0 0 #000000 !important;
    box-shadow: 0 0px 0 0 #000000 !important;
}
.form-email textarea{
	padding: 0 !important;
}
.form-email-img{
	height: 400px;
	object-fit: cover;
}
@media(max-width: 420px){
	.form-email-img{
		height: 250px;
		object-fit: cover;
	}
	.form-email{
		width: 280px;
		height: 320px;
		padding: 0.5rem;
	}
}
/* -------- FORM-EMAIL -------  */

/* ----- GERAL ------*/
.main-color-bg{
	background-color: var(--laranjaMedio) !important;
}
.main-color-text{
	color: var(--laranjaMedio) !important;
}
.main-color-text:hover a{
	color: #fff !important;
}
.vertical-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.mb-0{
	margin-bottom: 0 !important;
}
/* ----- GERAL ------*/

/* ----- TIPOGRAFIA -------*/
.btn{
	text-transform: none !important;
}
.coolvetica {
	font-family: Coolvetica !important;
}
.comfortaa{
	font-family: Comfortaa Regular !important;
}
.vegur{
	font-family: Vegur Regular !important;
}
@font-face {
    font-family: 'Coolvetica';
    src: url(../fonts/coolveticarg-regular.ttf);
}
@font-face {
    font-family: 'Comfortaa Regular';
    src: url(../fonts/Comfortaa/Comfortaa_regular.ttf);
}
@font-face {
    font-family: 'Vegur Regular';
    src: url(../fonts/vegur/Vegur-Regular.otf);
}

/* ----- TIPOGRAFIA -------*/